<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/common.css" rel="stylesheet" type="text/css">
    <link href="../Static/CSS/sliderCss.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!--<p>This is "SliderCss" page</p>-->
    <!--aboutTop-->
    <!--SIDEBAR-->


    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                <div id="slides__1" class="slide">

                    <img src="../Static/Images/4.jpg" style="width:100%">
                    <!-- <span class="slide__text">1</span> -->

                    <a class="slide__prev" href="#slides__4" title="Next"></a>
                    <a class="slide__next" href="#slides__2" title="Next"></a>
                </div>
                <div id="slides__2" class="slide">
                    <img src="../Static/Images/1.jpg" style="width:100%">
                    <!-- <span class="slide__text">2</span> -->
                    <a class="slide__prev" href="#slides__1" title="Prev"></a>
                    <a class="slide__next" href="#slides__3" title="Next"></a>
                </div>
                <div id="slides__3" class="slide">
                    <img id="2" src="../Static/Images/2.jpg" style="width:100%">
                    <!-- <span class="slide__text">3</span>-->
                    <a class="slide__prev" href="#slides__2" title="Prev"></a>
                    <a class="slide__next" href="#slides__4" title="Next"></a>
                </div>
                <div id="slides__4" class="slide">
                    <img id="2" src="../Static/Images/3.jpg" style="width:100%">
                    <!--<span class="slide__text">4</span>-->
                    <a class="slide__prev" href="#slides__3" title="Prev"></a>
                    <a class="slide__next" href="#slides__1" title="Prev"></a>
                </div>
            </div>
        </div>
        <!--<div class="slider__nav">
            <a class="dot" href="#slides__1"></a>
            <a class="dot" href="#slides__2"></a>
            <a class="dot" href="#slides__3"></a>
            <a class="dot" href="#slides__4"></a>
        </div>-->

    </div>


    <div style="text-align:center">
        <p>Для прокрутки/выбора слайдов воспользуйтесь стрелками или щелкните на одну из точек под рисунком</p>
    </div>

    <!--aboutBottom-->
    <!--FOOTER-->

</body>
</html>