<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
</head>
    
   
    <body>
        <!--SIDEBAR-->
        <header id="header-index">
            <h1>LifeSpot - тестовая страница</h1>
            <p>Здесь можно экспериментировать с кодом</p>
            <input type="text" id="testInput" size=50%>
            <button type="button" onclick="SaveAndDisplay()">Save</button>
        </header>
        <!--FOOTER-->
    </body>

</html>